options {
     directory "/var/cache/bind";

     recursion yes;

     allow-query { any; };

     dnssec-enable yes;
     dnssec-validation yes;

     auth-nxdomain no;
     listen-on-v6 { any; };

     forwarders {
         {{vpc_dns}};
         8.8.8.8;
     };

     forward only;
};
